marquee{
	color: red;
	font-size: 28px;

}
img {
	width: 400px;
	height: 300px;
}
aside{
	width: 40%;
	padding-left: .5rem;
	margin-left: .5rem;
	float: right;
	font-style:bold;
	color: green;
}
.head3{
	color: blue;
		font-size: 20px;}